USE [master]
GO
/****** Object:  Database [PP02.02PR412]    Script Date: 08.12.2025 16:16:09 ******/
CREATE DATABASE [PP02.02PR412]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PP02.02PR412', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\PP02.02PR412.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PP02.02PR412_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\PP02.02PR412_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PP02.02PR412].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PP02.02PR412]
GO
/****** Object:  Table [dbo].[agents]    Script Date: 08.12.2025 16:16:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[agents](
	[АйдиАгента] [int] IDENTITY(1,1) NOT NULL,
	[ТипАгента] [int] NOT NULL,
	[Наименование_агента] [nvarchar](max) NOT NULL,
	[Электронная_почта_агента] [nvarchar](100) NOT NULL,
	[Телефон_агента] [nvarchar](50) NOT NULL,
	[Логотип_агента] [nvarchar](50) NULL,
	[Юридический_адрес] [nvarchar](150) NOT NULL,
	[Приоритет] [int] NOT NULL,
	[Директор] [nvarchar](150) NOT NULL,
	[ИНН] [nvarchar](50) NOT NULL,
	[КПП] [nvarchar](50) NOT NULL,
	[Скидка] [int] NULL,
 CONSTRAINT [PK_agents] PRIMARY KEY CLUSTERED 
(
	[АйдиАгента] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[agents_type]    Script Date: 08.12.2025 16:16:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[agents_type](
	[АйдиТипа] [int] IDENTITY(1,1) NOT NULL,
	[Тип_агента] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_agents_type_import] PRIMARY KEY CLUSTERED 
(
	[АйдиТипа] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products]    Script Date: 08.12.2025 16:16:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[АйдиПродукта] [int] IDENTITY(1,1) NOT NULL,
	[Наименование_продукции] [nvarchar](max) NOT NULL,
	[ТипПродукции] [int] NOT NULL,
	[Артикул] [nvarchar](max) NOT NULL,
	[Количество_человек_для_производства] [int] NOT NULL,
	[Номер_цеха_производства] [int] NOT NULL,
	[Минимальная_цена_для_агента] [int] NOT NULL,
 CONSTRAINT [PK_products_1] PRIMARY KEY CLUSTERED 
(
	[АйдиПродукта] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products_type]    Script Date: 08.12.2025 16:16:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products_type](
	[АйдиТипа] [int] IDENTITY(1,1) NOT NULL,
	[Тип_продукции] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_products_type_1] PRIMARY KEY CLUSTERED 
(
	[АйдиТипа] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[productsale]    Script Date: 08.12.2025 16:16:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[productsale](
	[АйдиПродажи] [int] IDENTITY(1,1) NOT NULL,
	[АйдиПродукта] [int] NOT NULL,
	[АйдиАгента] [int] NOT NULL,
	[Дата_реализации] [date] NOT NULL,
	[Количество_продукции] [int] NOT NULL,
 CONSTRAINT [PK_productsale] PRIMARY KEY CLUSTERED 
(
	[АйдиПродажи] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[agents] ON 

INSERT [dbo].[agents] ([АйдиАгента], [ТипАгента], [Наименование_агента], [Электронная_почта_агента], [Телефон_агента], [Логотип_агента], [Юридический_адрес], [Приоритет], [Директор], [ИНН], [КПП], [Скидка]) VALUES (1, 3, N'СервисПив', N'znosov@vasilev.ru', N'(922) 325-12-93', NULL, N'840377, Рязанская область, город Щёлково, пл. Бухарестская, 42', 329, N'Никита Александрович Королёв', N'6861024038', N'218034630', NULL)
INSERT [dbo].[agents] ([АйдиАгента], [ТипАгента], [Наименование_агента], [Электронная_почта_агента], [Телефон_агента], [Логотип_агента], [Юридический_адрес], [Приоритет], [Директор], [ИНН], [КПП], [Скидка]) VALUES (2, 5, N'СантехСеверЛенМашина', N'pgorbacev@vasilev.net', N'(812) 214-73-94', N'\agents\agent_99.png', N'606990, Новосибирская область, город Павловский Посад, въезд Домодедовская, 38', 201, N'Павел Максимович Рожков', N'3506691089', N'830713603', NULL)
INSERT [dbo].[agents] ([АйдиАгента], [ТипАгента], [Наименование_агента], [Электронная_почта_агента], [Телефон_агента], [Логотип_агента], [Юридический_адрес], [Приоритет], [Директор], [ИНН], [КПП], [Скидка]) VALUES (3, 1, N'ЭлектроРемОрионЛизинг', N'anfisa.fedotova@tvetkov.ru', N'(495) 513-93-16', N'\agents\agent_93.png', N'594365, Ярославская область, город Павловский Посад, бульвар Космонавтов, 64', 198, N'Тарасова Дан Львович', N'1340072597', N'500478249', NULL)
GO
SET IDENTITY_INSERT [dbo].[agents] OFF
GO
SET IDENTITY_INSERT [dbo].[agents_type] ON 

INSERT [dbo].[agents_type] ([АйдиТипа], [Тип_агента]) VALUES (1, N'ЗАО')
INSERT [dbo].[agents_type] ([АйдиТипа], [Тип_агента]) VALUES (2, N'МКК')
INSERT [dbo].[agents_type] ([АйдиТипа], [Тип_агента]) VALUES (3, N'МФО')
SET IDENTITY_INSERT [dbo].[agents_type] OFF
GO
SET IDENTITY_INSERT [dbo].[products] ON 

INSERT [dbo].[products] ([АйдиПродукта], [Наименование_продукции], [ТипПродукции], [Артикул], [Количество_человек_для_производства], [Номер_цеха_производства], [Минимальная_цена_для_агента]) VALUES (1, N'Маска на лицо открытого типа 4556', 4, N'7560408', 3, 3, 1576)
INSERT [dbo].[products] ([АйдиПродукта], [Наименование_продукции], [ТипПродукции], [Артикул], [Количество_человек_для_производства], [Номер_цеха_производства], [Минимальная_цена_для_агента]) VALUES (2, N'Очки прозрачные затемненные 2256', 4, N'76452269', 3, 9, 342)
INSERT [dbo].[products] ([АйдиПродукта], [Наименование_продукции], [ТипПродукции], [Артикул], [Количество_человек_для_производства], [Номер_цеха_производства], [Минимальная_цена_для_агента]) VALUES (3, N'Маска защитная закрытого типа 1359', 3, N'75996796', 4, 12, 198)
SET IDENTITY_INSERT [dbo].[products] OFF
GO
SET IDENTITY_INSERT [dbo].[products_type] ON 

INSERT [dbo].[products_type] ([АйдиТипа], [Тип_продукции]) VALUES (1, N'Закрытого типа')
INSERT [dbo].[products_type] ([АйдиТипа], [Тип_продукции]) VALUES (2, N'Затемненные')
INSERT [dbo].[products_type] ([АйдиТипа], [Тип_продукции]) VALUES (3, N'Открытого типа')
SET IDENTITY_INSERT [dbo].[products_type] OFF
GO
SET IDENTITY_INSERT [dbo].[productsale] ON 

INSERT [dbo].[productsale] ([АйдиПродажи], [АйдиПродукта], [АйдиАгента], [Дата_реализации], [Количество_продукции]) VALUES (1, 49, 72, CAST(N'2014-06-25' AS Date), 8)
INSERT [dbo].[productsale] ([АйдиПродажи], [АйдиПродукта], [АйдиАгента], [Дата_реализации], [Количество_продукции]) VALUES (4, 23, 57, CAST(N'2019-06-06' AS Date), 16)
INSERT [dbo].[productsale] ([АйдиПродажи], [АйдиПродукта], [АйдиАгента], [Дата_реализации], [Количество_продукции]) VALUES (5, 49, 52, CAST(N'2014-03-28' AS Date), 20)
SET IDENTITY_INSERT [dbo].[productsale] OFF
GO
ALTER TABLE [dbo].[agents]  WITH CHECK ADD  CONSTRAINT [FK_agents_agents_type] FOREIGN KEY([ТипАгента])
REFERENCES [dbo].[agents_type] ([АйдиТипа])
GO
ALTER TABLE [dbo].[agents] CHECK CONSTRAINT [FK_agents_agents_type]
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD  CONSTRAINT [FK_products_products_type] FOREIGN KEY([ТипПродукции])
REFERENCES [dbo].[products_type] ([АйдиТипа])
GO
ALTER TABLE [dbo].[products] CHECK CONSTRAINT [FK_products_products_type]
GO
ALTER TABLE [dbo].[productsale]  WITH CHECK ADD  CONSTRAINT [FK_productsale_agents] FOREIGN KEY([АйдиАгента])
REFERENCES [dbo].[agents] ([АйдиАгента])
GO
ALTER TABLE [dbo].[productsale] CHECK CONSTRAINT [FK_productsale_agents]
GO
ALTER TABLE [dbo].[productsale]  WITH CHECK ADD  CONSTRAINT [FK_productsale_products] FOREIGN KEY([АйдиПродукта])
REFERENCES [dbo].[products] ([АйдиПродукта])
GO
ALTER TABLE [dbo].[productsale] CHECK CONSTRAINT [FK_productsale_products]
GO
USE [master]
GO
